{% if auth_check() %}
    {% if listing.isFavorited() %}
        <p><span class="fa fa-heart text-left mr-1 text-danger"></span>Interest expressed</span>
    {% else %}
        <button id="star-listing" type="button" class="btn btn-outline-secondary mt-3 btn-block" ic-get-from="{{ route('listing.star', [listing, listing.slug]) }}" ic-target="#star-listing" ic-replace-target="true">
            <span class="fa fa-heart-o text-left mr-1 text-danger"></span> {{ __("Express interest") }}
        </button>
    {% endif %}
{% else %}
    <a href="{{route('login')}}" class="btn btn-secondary mt-3 btn-block pop" data-width="300"><span class="fa fa-star-o text-left mr-1"></span> {{ __("Express interest") }}</a >

    <div class="webui-popover-content">
        <p class="h6">{{ __('Like this job?') }}</p>
        <p>{{ __('Sign in to express interest in this job') }}</p>
        <hr />
        <a href="{{ route('login') }}" class="btn btn-link text-danger font-weight-bold text-uppercase pl-0">{{ __("Sign in") }}</a>
    </div>
{% endif %}